body {
    background-color: #e5e5e5;
    color: #3c4858;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}


html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*, :after, :before {
    box-sizing: border-box;
}


.profile-page .profile {
    text-align: center;
}

.title, .title a {
    color: #3c4858;
    text-decoration: none;
}

.title {
    font-weight: 700;
    font-family: Roboto Slab, Times New Roman, serif;
}

.h3, h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-page .profile .name {
    margin-top: -80px;
}